---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resume">
  <main>
    <div class="flex flex-col mx-8 my-8 items-center">
      <div class="lg:max-w-[900px] p-6 pt-10 max-w-[100vw]">
        <h2 class="text-3xl py-3 w-full font-bold">Profile</h2>
        <p class="text-justify my-8">
          Full Stack Developer with a background in business administration,
          specializing in Front-end, Back-end, and mobile development.
          Proficient in HTML5, CSS3, JavaScript, React, Redux, MySQL, MongoDB,
          PostgreSQL, and CSS frameworks. Experienced in agile methodologies,
          GIT, data structures, and algorithms. Strong analytical skills with
          the ability to work collaboratively in teams. Possesses adaptability,
          effective communication, and teamwork abilities. English proficiency
          level: B1.
        </p>
        <h2 class="text-3xl py-3 w-full font-bold">Education</h2>
        <ul>
          <li class="my-7">
            <h3 class="font-bold">Flutter developer</h3>
            <p>2023 to 2024 at Udemy, virtual</p>
          </li>
          <li class="my-7">
            <h3 class="font-bold">Fullstack developer</h3>
            <p>2023 to 2023 at Bootcamp, virtual</p>
          </li>
          <li class="my-7">
            <h3 class="font-bold">Computer Systems Programming Methodology</h3>
            <p>2020 at SENA, Bogota, Colombia</p>
          </li>
          <li class="my-7">
            <h3 class="font-bold">Business Administrator</h3>
            <p>
              2017 to 2019 at Fundacion Universitaria del Area Andina, Bogota,
              Colombia
            </p>
          </li>
        </ul>
        <h2 class="text-3xl py-3 w-full font-bold">Skills</h2>
        <ul class="list-disc md:columns-5 columns-2 mx-6">
          <li>HTML5</li>
          <li>CSS</li>
          <li>Javascript</li>
          <li>Typescript</li>
          <li>Tailwind</li>
          <li>React</li>
          <li>Angular</li>
          <li>NextJS</li>
          <li>VueJS</li>
          <li>Svelte</li>
          <li>Astro</li>
          <li>MySQL</li>
          <li>MongoDB</li>
          <li>PostgreSQL</li>
          <li>Dart</li>
          <li>Flutter</li>
          <li>Docker</li>
          <li>NestJS</li>
          <li>NodeJS</li>
          <li>Git</li>
        </ul>
      </div>
    </div>
  </main>
</Layout>
