---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card.astro";
import projects from "../data/projects.ts";

const lastProjects = projects[0].list;
---

<Layout title="Portfolio">
  <main>
    <div class="flex flex-col mx-8 my-8 items-center">
      <div class="lg:max-w-[900px] p-6 pt-10 max-w-[100vw]">
        <h3 class="text-xl py-1">Hey There 👋🏻</h3>
        <h1 class="text-5xl font-bold">I'm Juan Pablo Delgado</h1>
        <h2 class="text-3xl py-3 font-bold">Full Stack and Mobile Developer</h2>
        <p class="text-xl my-8">
          Full Stack Developer with a passion for building responsive and
          interactive web applications. Proficient in front-end and back-end
          technologies, with expertise in JavaScript, React, Node.js, and
          MongoDB. Skilled in creating scalable solutions that deliver
          exceptional user experiences.
        </p>
        <h2 class="text-3xl w-full mb-12 font-bold">My last project {"</>"}</h2>

        {
          lastProjects.map((project) => (
            <Card
              name={project.name}
              summary={project.summary}
              img={`/images/${project.image}`}
              ref={project.ref}
            />
          ))
        }
      </div>
    </div>
  </main>
</Layout>
