<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">© 2024 Juan Pablo Delgado</div>
  <div class="inline opacity-75">
    Developed by <a
      href="https://manuelernestog.github.io"
      target="_blank"
      class="font-bold">Juan Pablo Delgado</a
    > using
    <a
      href="https://astrofy-template.netlify.app/"
      target="_blank"
      class="font-bold">Astro and Tailwind</a
    >
  </div>
</footer>
