---
import ToggleTheme from "./toggleTheme.astro"
---

<div class="navbar bg-base-100">
    <div class="navbar-start">
      
    </div>
    <div class="navbar-center">
        <a class="btn btn-ghost text-xl">Juan Pablo Delgado</a>
    </div>
    <div class="navbar-end">
        <ToggleTheme/>
    </div>
  </div>