<div class="drawer-side">
    <label
      for="my-drawer-3"
      aria-label="close sidebar"
      class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 min-h-full bg-base-200">
      <li><a class="py-3 text-base">Home</a></li>
      <li><a class="py-3 text-base">Projects</a></li>
      <li><a class="py-3 text-base">Services</a></li>
      <li><a class="py-3 text-base">Store</a></li>
      <li><a class="py-3 text-base">Blog</a></li>
      <li><a class="py-3 text-base">CV</a></li>
      <li><a class="py-3 text-base">Contact</a></li>
    </ul>
  </div>