---
import Social from "./social.astro";
import Avatar from "./avatar.astro";
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatedPath = useTranslatedPath(lang);
---

<div class="drawer-side z-40">
  <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"
  ></label>
  <aside class="p-4 w-80 min-h-full bg-base-200">
    <Avatar src="/images/profile.webp" />
    <ul class="menu menu-md grow shrink overflow-y-auto">
      <li>
        <a href={translatedPath("/")} class="py-3 text-base">{t("nav.home")}</a>
      </li>
      <li>
        <a href={translatedPath("/projects")} class="py-3 text-base"
          >{t("nav.projects")}</a
        >
      </li>
      <li>
        <a href={translatedPath("/webApps")} class="py-3 text-base"
          >{t("nav.webApps")}</a
        >
      </li>
      <li>
        <a href={translatedPath("/webGames")} class="py-3 text-base"
          >{t("nav.webGames")}</a
        >
      </li>
      <li>
        <a href={translatedPath("/webSites")} class="py-3 text-base"
          >{t("nav.webSites")}</a
        >
      </li>
      <li>
        <a href={translatedPath("/mobileApps")} class="py-3 text-base"
          >{t("nav.mobileApps")}</a
        >
      </li>
      <li>
        <a href={translatedPath("/cv")} class="py-3 text-base">{t("nav.cv")}</a>
      </li>
      <li>
        <a href="mailto:jpdelgado96@hotmail.com" class="py-3 text-base"
          >{t("nav.contact")}</a
        >
      </li>
    </ul>
    <Social />
  </aside>
</div>
