---
import Social from "./social.astro";
import Avatar from "./avatar.astro"
---

<div class="drawer-side z-40">
  <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"
  ></label>
  <aside class="p-4 w-80 min-h-full bg-base-200">
    <Avatar src="/images/profile.jpeg"/>
    <ul class="menu menu-md grow shrink overflow-y-auto">
        <li><a href="/" class="py-3 text-base">Home</a></li>
        <li><a href="/projects" class="py-3 text-base">Projects</a></li>
        <li><a href="/webApps" class="py-3 text-base">Web Apps</a></li>
        <li><a href="/webGames" class="py-3 text-base">Web Games</a></li>
        <li><a href="/webSites" class="py-3 text-base">Pages & Blogs</a></li>
        <li><a href="/mobileApps" class="py-3 text-base">Mobile Apps</a></li>
        <li><a href="/cv" class="py-3 text-base">CV</a></li>
        <li>
          <a href="mailto:jpdelgado96@hotmail.com" class="py-3 text-base"
          >Contact</a
          >
        </li>
    </ul>
    <Social/>
  </aside>
  </div>
