---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Resume">
  <main>
    <div class="flex flex-col mx-8 my-8 items-center">
      <div class="lg:max-w-[900px] p-6 pt-10 max-w-[100vw]">
        <h2 class="text-3xl py-3 w-full font-bold">Perfil</h2>
        <p class="text-justify my-8">
          Desarrollador Full Stack con experiencia en administración de
          empresas, especializado en desarrollo Front-end, Back-end y móvil.
          Proficiente en HTML5, CSS3, JavaScript, React, Redux, MySQL, MongoDB,
          PostgreSQL y frameworks de CSS. Con experiencia en metodologías
          ágiles, GIT, estructuras de datos y algoritmos. Habilidades analíticas
          sólidas con capacidad de trabajar en equipo de manera colaborativa.
          Posee adaptabilidad, comunicación efectiva y habilidades de trabajo en
          equipo. Nivel de inglés: B1.
        </p>
        <h2 class="text-3xl py-3 w-full font-bold">Educación</h2>
        <ul>
          <li class="my-7">
            <h3 class="font-bold">Desarrollador Flutter</h3>
            <p>2023 a 2024 en Udemy, virtual</p>
          </li>
          <li class="my-7">
            <h3 class="font-bold">Desarrollador Fullstack</h3>
            <p>2023 a 2023 en Bootcamp, virtual</p>
          </li>
          <li class="my-7">
            <h3 class="font-bold">
              Metodología de Programación de Sistemas Computacionales
            </h3>
            <p>2020 en SENA, Bogotá, Colombia</p>
          </li>
          <li class="my-7">
            <h3 class="font-bold">Administrador de Empresas</h3>
            <p>
              2017 a 2019 en Fundación Universitaria del Área Andina, Bogotá,
              Colombia
            </p>
          </li>
        </ul>
        <h2 class="text-3xl py-3 w-full font-bold">Habilidades</h2>
        <ul class="list-disc md:columns-5 columns-2 mx-6">
          <li>HTML5</li>
          <li>CSS</li>
          <li>Javascript</li>
          <li>Typescript</li>
          <li>Tailwind</li>
          <li>React</li>
          <li>Angular</li>
          <li>NextJS</li>
          <li>VueJS</li>
          <li>Svelte</li>
          <li>Astro</li>
          <li>MySQL</li>
          <li>MongoDB</li>
          <li>PostgreSQL</li>
          <li>Dart</li>
          <li>Flutter</li>
          <li>Docker</li>
          <li>NestJS</li>
          <li>NodeJS</li>
          <li>Git</li>
        </ul>
      </div>
    </div>
  </main>
</Layout>
